requests
urllib3
beautifulsoup4
bs4
mechanize
google
colorama
urllib3
wget
argparse
netaddr
html5lib
mechanize
six
webencodings
droopescan
hexdump
python-geoip-geolite2
argparse
dnspython
tld
fuzzywuzzy
py3dns